body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  /*text-align: center;
  align-content: center;*/
  margin: 8px;
} 

.header h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgb(70, 125, 243);
  height: 300px;

  line-height: 300px;
  color: white;
  opacity: .5;
  font-weight: bolder;
  text-align: center;
}

.main {
  flex: auto;
}

.gameBtn {
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  background: rgb(143, 230, 202);
  height: 300px;

  color: white;
  opacity: .5;
}

.playBtn {
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 30px;
  margin-top: 125px;
  font-weight: lighter;
  font-size: 1.5em;
  text-align: center;
  width: 150px;
}

.footer h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgb(0, 0, 0);
  height: 300px;
  
  
  line-height: 300px;
  color: white;
  opacity: .5;
  font-weight: bolder;
  text-align: center;
}